@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
/**{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}*/

body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
   /* background: #34495e;*/
   background: url(bga.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    background-size: cover;
}  
.form-box{
    width: 380px;
    height: 480px;
    position: relative;
    margin: 6% auto;
    transition: .1s;
    background: rgba(255, 255, 255,.9);
    padding: 5px;
    overflow: hidden;
}
.button-box{
    width: 220px;
    margin: 35px auto;
  
    position: relative;
    box-shadow: 0 0 20px 9px #ff61241f;
    border-radius: 30px;
}
.toggle-btn{
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    text-transform: uppercase;
    border: 0;
    outline: none;
    position: relative;


}
#btn{
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: linear-gradient(90deg,/* #ff105f, #ffad06*/ #03a9f4,#f441a5,#ffeb3b,#03a9f4);
    border-radius: 30px;
    transition: .1s;
    background-size: 400%;
}
.input-group{
    top: 110px;
    position: absolute;
    width: 280px;
    transition: 5s;
}
.input-field{
    width: 100%;
    padding: 5px 0px;
    margin: 5px 0;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-bottom: 1px solid rgb(15, 15, 15);
    outline: none;
    background: transparent;
}
.submit-btn{
    width: 55%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(90deg,/* #ff105f, #ffad06*/ #03a9f4,#f441a5,#ffeb3b,#03a9f4);
    background-size: 400%;
    text-transform: uppercase;
    border: 0;
    outline: none;
    border-radius: 30px;
}
.check-box{
    margin: 30px 10px 30px 0;

}
span{
    color: rgb(15, 15, 15);
    font-size: 12px;
    bottom: 68px;
    position: absolute;
}
#login{
    left: 50px;
}
#signup{
    left: 450px;
}
.submit-btn:hover{
    animation: animate 6s linear infinite;
}
:hover{
    animation: animate 8s linear infinite;
}
@keyframes animate{
    0%{
        background-position: 0%;
    }
    100%{
        background-position: 400%;
    }
   
}
.fa{
    color: rgb(15, 15, 15);
    
}
.input-group-login{
    top: 180px;
    position: absolute;
    width: 280px;
    transition: 5s;
}

